<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/img/favicon.png">

    <title>Yearbook</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="assets/stylesheets/main.css" rel="stylesheet">

    <!-- Fonts from Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>

	<!-- Font Awesome Icons -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
<!-- user sign in -->
<!-- alert if user has not filled out the required parameters -->


  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="assets/LemonIcon_Final.png" width="30" alt=""></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <button type="button" class="btn btn-action btn-lg" data-toggle="modal" data-target="#myModal">
  				Already a Member?
			</button>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

<!-- sign up form -->
	<div id="headerwrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
									
<h3>Sign Up: </h3>
<!-- logic preventing bad passwords from passing -->
<%= form_for @user do |f| %>

	<% if @user.errors.any? %>
	  <div id="error_explanation">
	    <p><%= pluralize(@user.errors.count, "error") %>prohibied this user from from being saved.</p>
	    <ul>
	      <% @user.errors.full_messages.each do |msg| %>

	      <li style="color: red"><%= msg %></li>
	      <% end %>
	    </ul>
	  </div>
	    <% end %>

	<!-- sign up form -->
	<div class="signup">
			<%= f.label :first %>
			<%= f.text_field :first, placeholder: 'First name' %>
			<br><br>
			
			<%= f.label :last %>
			<%= f.text_field :last, placeholder: 'Last name' %>
			<br><br>
			<%= f.label :email %>
			<%= f.email_field :email, placeholder: 'Email' %>
			<br><br>
			<%= f.label :password %>
			<%= f.password_field :password, placeholder: 'Password' %>
			<br><br>
			<%= f.label :password_confirmation %>
			<%= f.password_field :password_confirmation, placeholder: 'Password Confirmation' %>
			<br><br>
			<%= f.submit %>
		<% end %>
	</div>				
				</div><!-- /col-lg-6 -->
				<div class="col-lg-6">
					<img class="img-responsive" src="http://placekitten.com/g/500/300" alt="">
				</div><!-- /col-lg-6 -->
				
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /headerwrap -->
	
	
	<div class="container">
		<div class="row mt centered">
			<div class="col-lg-6 col-lg-offset-3">
				<h1>Your Landing Page<br/>Looks Wonderful Now.</h1>
				<h3>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</h3>
			</div>
		</div><!-- /row -->
		
		<div class="row mt centered">
			<div class="col-lg-4">
				<img src="assets/Chat.png" width="180" alt="">
				<h4>1 - Keep in touch with classmates</h4>
				<p>View your classmates profiles to see their location, skills, latest tweets and what they've been sharing.</p>
			</div><!--/col-lg-4 -->

			<div class="col-lg-4">
				<img src="assets/Positive.png" width="180" alt="">
				<h4>2 - Share news and opportunities</h4>
				<p>Lemons are valuable, and so are the opportunities that they can tell you about. Share some news in the feed page and upvote the best posts.</p>

			</div><!--/col-lg-4 -->

			<div class="col-lg-4">
				<img src="assets/Application.png" width="180" alt="">
				<h4>3 - Find friends to collaborate with</h4>
				<p>Need an extra hand on a project? Search by skills and you'll find a friendly lemon to help make your project extra sweet.</p>

			</div><!--/col-lg-4 -->
		</div><!-- /row -->
	</div><!-- /container -->
	
	<!-- Back to top button -->
	<div class="container">
		<hr>
		<div class="row centered">
			<div class="col-lg-6 col-lg-offset-3">
				  <a href="#" class="back-to-top"><button class="btn btn-warning btn-lg">Sign Up!</button></a>				
			</div>
		</div><!-- /row -->
		<hr>
	</div><!-- /container -->
	
	<div class="container">
		<div class="row mt centered">
			<div class="col-lg-6 col-lg-offset-3">
				<h1>The Yearbook you've always wanted.</h1>
				<h3>No need to pay outrageous prices for some book you'll never open, pay nothing for a site with the features you'll actually use</h3>
			</div>
		</div><!-- /row -->
	
		<! -- CAROUSEL -->
		<div class="row mt centered">
			<div class="col-lg-6 col-lg-offset-3">
				<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
				  <!-- Indicators -->
				  <ol class="carousel-indicators">
				    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
				    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
				  </ol>
				
				  <!-- Wrapper for slides -->
				  <div class="carousel-inner">
				    <div class="item active">
				      <img src="assets/images/p01.png" alt="">
				    </div>
				    <div class="item">
				      <img src="assets/images/p02.png" alt="">
				    </div>
				    <div class="item">
				      <img src="assets/images/p03.png" alt="">
				    </div>
				  </div>
				</div>			
			</div><!-- /col-lg-8 -->
		</div><!-- /row -->
	</div>
	

	<div class="container">
		<div class="row mt centered">
			<div class="col-lg-6 col-lg-offset-3">
				<h1>Built with <i class="fa fa-heart"></i> from your friends</h1>
				<h3>Our Awesome Team</h3>
			</div>
		</div><!-- /row -->
		
		<div class="row mt centered">
			<div class="col-lg-4">
				<img class="img-circle" src="assets/aung.jpg" width="140" alt="">
				<h4>Aung Barteaux </h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
				<p><i class="glyphicon glyphicon-send"></i> <i class="glyphicon glyphicon-phone"></i> <i class="glyphicon glyphicon-globe"></i></p>
			</div><!--/col-lg-4 -->

			<div class="col-lg-4">
				<img class="img-circle" src="assets/cBlack.jpg" width="140" alt="">
				<h4>Christopher Black</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
				<p><i class="glyphicon glyphicon-send"></i> <i class="glyphicon glyphicon-phone"></i> <i class="glyphicon glyphicon-globe"></i></p>
			</div><!--/col-lg-4 -->

			<div class="col-lg-4">
				<img class="img-circle" src="assets/molly.jpg" width="140" alt="">
				<h4>Molly Setzer</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
				<p><i class="glyphicon glyphicon-send"></i> <i class="glyphicon glyphicon-phone"></i> <i class="glyphicon glyphicon-globe"></i></p>
			</div><!--/col-lg-4 -->

			<div class="col-lg-6">
				<img class="img-circle" src="/assets/meirFunny.jpg" width="140" alt="">
				<h4>Meir Snyder</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
				<p><i class="glyphicon glyphicon-send"></i> <i class="glyphicon glyphicon-phone"></i> <i class="glyphicon glyphicon-globe"></i></p>
			</div><!--/col-lg-4 -->

			<div class="col-lg-6">
				<img class="img-circle" src="assets/paul.jpg" width="140" alt="">
				<h4>Paul Fielek</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
				<p><i class="glyphicon glyphicon-send"></i> <i class="glyphicon glyphicon-phone"></i> <i class="glyphicon glyphicon-globe"></i></p>
			</div><!--/col-lg-4 -->
		</div><!-- /row -->
	</div><!-- /container -->
	
		<!-- Back to top button -->
	<div class="container">
		<hr>
		<div class="row centered">
			<div class="col-lg-6 col-lg-offset-3">
				  <a href="#" class="back-to-top"><button class="btn btn-warning btn-lg">Sign Up!</button></a>				
			</div>
		</div><!-- /row -->
		<hr>
		<p class="centered">Landing Page Design Inspired by BlackTie.co - Attribution License 3.0 - 2013</p>
	</div><!-- /container -->

	<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sign In</h4>
      </div>
      <div class="modal-body">
        <h4>Please enter your email and password</h4>
<p style="color: red"><%= flash[:error] %></p>
<form action="/session" method="POST">
	<div>
		<label for="email">Email:</label>
		<input name="email">
	</div>
	<div>
		<label for="password">Password:</label>
		<!-- use of authenticity token to protect user password -->
		<input name="password" type="password">
      	<input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">
  	</div>
      	<br><br>
    <div>
        <button >Log In</button>
    </div>
</form>
      </div>
    </div>
  </div>
</div>



	    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <% if flash[:error] %>
     <script type="text/javascript">
 $(window).load(function () {
 $('#myModal').modal('show')
 });
 </script>
    <% end %>
    <script>
jQuery(document).ready(function() {
    var offset = 250;
    var duration = 300;
    jQuery(window).scroll(function() {
        if (jQuery(this).scrollTop() > offset) {
            jQuery('.back-to-top').fadeIn(duration);
        } else {
            jQuery('.back-to-top').fadeOut(duration);
        }
    });

    jQuery('.back-to-top').click(function(event) {
        event.preventDefault();
        jQuery('html, body').animate({scrollTop: 0}, duration);
        return false;
    })
});
</script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </body>
