<!DOCTYPE html>
<html>
<head>
  <title>LemonDrop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
  <header class="navbar  navbar-inverse">
    <div class="navbar-class">
      <div class="container">
       <img class="icon" src="/assets/LemonIcon_Final.png">
      <!-- Collect the nav links, forms, and other content for toggling -->

        <div class="nav navbar-nav">
          <img class="icon" src="assets/LemonIcon_Final.png">
          <a href="/" class="header-button">HOME</a>
          <a href="/users/<%=current_user.id%>" class="header-button">Profile</a>
          <%= link_to "logout", session_path, method: :delete, class: "header-button" %>
        </div>


      </div>
    </div>
  </header>
  <% end %>
<%= yield %>

</body>
</html>
